<router-outlet></router-outlet>

<!-- <header>
  <h1>My To-Do List</h1>
</header>

<div class="container">

  <div class="card my-3">
    <div class="card-body text-center">
      {{ quote }}
    </div>
  </div>

  <div class="row">

    <div class="col-md-8">

      <div class="card">
        <div class="card-body">
          <h2 class="h6" style="margin-top: 6px;">
            {{ today | date:'E, MMM d, y' }}
          </h2>
          <hr class="mb-0">
          <div class="list-item" *ngFor="let item of items; let i = index">
            <input type="checkbox" name="" [id]="'todo'+i" class="item-checkbox">
            <label [attr.for]="'todo'+i" class="ms-1 me-4 flex-grow-1">{{ item }}</label>
            <div class="dropdown">
              <button class="btn-icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="editItem()">Edit</a></li>
                <li><a class="dropdown-item" (click)="deleteItem()">Delete</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-4">

      <div class="card">
        <div class="card-body">
          <h2 class="h6">Summary</h2>
          <hr>
          <div class="row">
            <div class="col-4">Tasks Due</div>
            <div class="col-8">
              4
            </div>
          </div>
          <div class="row">
            <div class="col-4">Progress</div>
            <div class="col-8">
              <div class="progress" style="margin-top: 5px;">
                <div class="progress-bar" role="progressbar" style="width: 25%"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div> -->
