/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.btn-icon {
  background: transparent;
  color: inherit;
  border: 0;
  border-radius: 50%;

  &:hover,
  &:focus {
    color: #3e3e3e;
  }
}
